# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.*
!.env.sample

# Testing
coverage

# Build Outputs
out
build
dist
.next

# Misc
.DS_Store
*.pem

# Package lock files (see https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514)
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# IDE's
.idea
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Caches
*.tsbuildinfo
.cache

# LLM's
.junie
