name: "Actions related to docs"

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  reusable-workflow-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Setup Node.js"
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: ./package.json

      - name: "Run auto-doc (lib-license-checker)"
        uses: tj-actions/auto-doc@v3
        with:
          filename: "./.github/workflows/lib-license-checker.yml"
          output: "./docs/workflows/lib-license-checker.md"
          reusable: true

      - name: "Run auto-doc (lib-ci)"
        uses: tj-actions/auto-doc@v3
        with:
          filename: "./.github/workflows/lib-ci.yml"
          output: "./docs/workflows/lib-ci.md"
          reusable: true

      - name: "Build the lint config and run lint"
        run: |
          npm install
          npm run build:ws
          npm run lint

      - name: "Check for changed files"
        uses: tj-actions/verify-changed-files@v20
        id: changed-files
        with:
          files: |
            docs

      - name: "Open a PR"
        if: steps.changed-files.outputs.files_changed == 'true'
        uses: peter-evans/create-pull-request@v8
        with:
          # Wrong name, but gets the job done
          token: ${{ secrets.REPO_ADMIN_TOKEN }}
          branch: "docs/workflows"
          delete-branch: "true"
          signoff: "true"
          commit-message: "docs(workflows): regenerated reusable workflow docs"
          title: "docs(workflows): regenerated reusable workflow docs"
          body: |
            Executed [auto-doc](https://github.com/tj-actions/auto-doc).
