on:
  workflow_call:
    inputs:
      runner:
        type: string
        description:
          "Specify the runner to use. This shouldn't be necessary for most jobs."
        default: "ubuntu-latest"
      node-version:
        type: string
        description: "Node.js version to run CI against."
        default: "22"
      main-command:
        type: string
        default: ""
        description:
          "Command to run when on the main branch. Supports multi-line strings."
      command:
        type: string
        default: ""
        description: "Command to run. Supports multi-line strings."

jobs:
  ci:
    runs-on: ${{ inputs.runner }}
    if:
      ${{ (inputs.main-command != '' && github.event.ref == 'refs/heads/main') ||
      inputs.command != '' }}
    timeout-minutes: 15
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Node (with Yarn cache)"
        uses: actions/setup-node@v6
        if: ${{ hashFiles('yarn.lock') != '' }}
        with:
          node-version: ${{ inputs.node-version }}
          cache: "yarn"

      - name: "Setup Node (with NPM cache)"
        uses: actions/setup-node@v6
        if: ${{ hashFiles('package-lock.json') != '' }}
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"

      - name: "Setup Node (no lockfile)"
        uses: actions/setup-node@v6
        if: ${{ hashFiles('yarn.lock') == '' && hashFiles('package-lock.json') == '' }}
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"
          cache-dependency-path: ./package.json

      - name: "Install via Yarn"
        if: ${{ hashFiles('yarn.lock') != '' }}
        run: |
          yarn

      - name: "Install via NPM"
        # Default to NPM if another unsupported package manager is used.
        if: ${{ hashFiles('yarn.lock') == '' }}
        run: |
          npm install

      - name: "Restore Next.js build cache"
        if: ${{ hashFiles('next.config.js') != '' }}
        uses: actions/cache/restore@v4
        id: next-cache
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages change. We don't take source files in to consideration since
          # that adds 30+ seconds of just hashing files. We might get correctness issues this way tho...
          key: |
            nextjs-${{ hashFiles('**/package-lock.json') }}

      - name: "Execute command on main"
        if: ${{ inputs.main-command != '' && github.event.ref == 'refs/heads/main' }}
        run: |
          ${{ inputs.main-command }}

      - name: "Execute command"
        if: ${{ inputs.command != '' }}
        run: |
          ${{ inputs.command }}

      - name: "Save Next.js build cache"
        if:
          ${{ hashFiles('next.config.js') != '' && github.event.ref == 'refs/heads/main'
          }}
        uses: actions/cache/save@v4
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          key: |
            key: ${{ steps.next-cache.outputs.cache-primary-key }}
